*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 5vw);
    grid-gap: 20px;
    justify-content: center;
    background-color: gray;
    height: 100vh;    
}

.img1{
    grid-area: 1 / 1 / 1 / 1;
}

.img2{
    grid-area: 2 / 1 / 2 / 1;
}